.palette-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2px;
  padding: 3px;
}
.palette-color {
  width: 12px;
  height: 12px;
  border: 1px solid #000;
  cursor: pointer;
}
